 /* @import "tailwindcss";  */
/* custom.css */

.gradient-text {
    background-clip: text;
    -webkit-background-clip: text; /* For Safari */
    color: transparent;
    -webkit-text-fill-color: transparent; /* For Safari */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}